.auth-nav {
  @extend %list;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.auth-nav__items {
  align-items: center;
  &--left {
    margin-left: 50px;
  }
}

.auth-nav__link {
  color: $primary-text-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth-nav__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .auth-nav__link:hover &,
  .auth-nav__link:focus & {
    color: $accent-color;
  }
}
