.description__container {
  // @extend %container;
  padding-top: 47px;
  padding-bottom: 94px;
}

.description__icon {
  display: block;
}

.section-title {
  color: $secondary-text-color;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  min-width: 700px;

  &--bottom {
    margin-bottom: 50px;
  }
}

.description__list {
  display: flex;
  justify-content: space-between;
}

.description__items {
  position: relative;
}

.description__cover {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: $grey-bgca;
  color: $white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}
