.feachers__container {
  @extend %container;
  padding-top: 94px;
  padding-bottom: 47px;
}

.feachers__list {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.feachers__items {
  width: 270px;
  justify-items: center;

  &--left {
    margin-left: 30px;
  }
}

/* ============== иконки приимуществ ==============*/

.feachers__thumb {
  height: 120px;
  background-color: $white-bgc;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &--bottom {
    margin-bottom: 30px;
  }
}

/* =========== END OF иконки приимуществ ==========*/

.feachers__title {
  color: $secondary-text-color;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;

  &--bottom {
    margin-bottom: 10px;
  }
}

.feachers__text {
  color: $primary-text-color;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
