.footer {
  background-color: $grey-bgc;
}
.footer__container {
  @extend %container;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__wrapper--left {
  margin-left: 70px;
}
.footer__wrapper--end {
  margin-left: auto;
}

.footer__logo--inverse {
  color: $white-color;
  display: inline-block;
}

.footer__logo--bottom {
  margin-bottom: 20px;
}

.address {
  font-style: normal;

  &__items--bottom {
    margin-bottom: 9px;
  }

  &__street {
    font-size: 14px;
    line-height: 1.71em;
    color: $white-color;
    letter-spacing: 0.03em;
  }

  &__email,
  &__phone {
    color: $addres-color;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
  }
}
.list {
  @extend %list;
}

.footer__invitation {
  color: $white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &--bottom {
    margin-bottom: 20px;
  }
}

.social {
  @extend %list;
  display: flex;
}

.social__items--right {
  margin-right: 10px;
}

.social__thumb--bgc {
  background-color: rgba(255, 255, 255, 0.1);
}
.social__icons--color,
.button__icon {
  fill: $white-color;
}

.signup__form {
  display: flex;
  &--right {
    margin-right: 12px;
  }
  text-align: center;
}

.signup__input {
  background-color: $grey-bgc;
  border: none;
  color: $white-color;
  outline: none;
  width: 100%;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
}

.modal-button--append {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.modal-button--left {
  margin-left: 12px;
}

.button__icon--left {
  margin-left: 10px;
}
