.hero {
  background-color: var(--grey-bgc);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-opt.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    @extend %container;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 252px;
    padding-right: 252px;
  }
}

.hero__title {
  color: $white-color;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.36;

  &--bottom {
    margin-bottom: 30px;
  }
}
