.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%);
  padding: 40px 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;

  &:active {
    outline: none;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
}

.modal__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  &--bottom {
    margin-bottom: 12px;
  }
}

.modal__field {
  position: relative;
  display: flex;
  flex-direction: column;
  &--bottom {
    margin-bottom: 10px;
  }
}

.modal__label {
  font-size: 12px;
  line-height: 1.16;
  &--bottom {
    margin-bottom: 4px;
  }
}

.modal__input,
.modal__textarea {
  padding: 12px 12px 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &:focus,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.modal__textarea {
  padding-left: 16px;
  &::placeholder {
    color: $textarea-placeholder;
  }
  &--bottom {
    margin-bottom: 32px;
  }
}

.modal__icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  &--left {
    margin-left: 12px;
  }
  .modal__input:focus + & {
    fill: $accent-color;
  }
}

.modal__agreement {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  &--bottom {
    margin-bottom: 30px;
  }
}

.modal__pseudo-checkbox,
.modal__pseudo-checkbox-border {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 2px solid #000;
}

.modal__pseudo-checkbox {
  opacity: 0;

  .modal__check-box:checked ~ & {
    opacity: 1;
    border: 2px solid $accent-color;
    fill: $white-color;
    background-color: $accent-color;
  }
}

.modal__check-box:focus ~ .modal__pseudo-checkbox-border {
  box-shadow: 0px 0px 4px 0.5px rgba(0, 0, 0, 1);
}

.modal__check-box:checked ~ .modal__pseudo-checkbox-border {
  border: 2px solid $accent-color;
}

.modal__stroke {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: inline-block;
  width: 423px;
  text-align: right;
}

.modal__agreement-link {
  color: $accent-color;
  text-decoration: underline;
}
