.projects__container {
  @extend %container;
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects__filter-list {
  @extend %list;
  display: flex;
  justify-content: center;

  &--bottom {
    margin-bottom: 50px;
  }
}

.projects__filter-item--left {
  margin-left: 8px;
}

.projects__filter-button {
  color: $secondary-text-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63em;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  outline: none;
  border-width: 2px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
    border-color: $accent-color;
    border-width: 2px;
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  &:active {
    box-shadow: none;
  }
}
