.cardset {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.cardset__image {
  display: block;
}
.cardset__items {
  flex-basis: calc(100% / 3 - 60px);
  margin-top: 30px;
  margin-left: 30px;
}
.cardset__hover {
  position: relative;
  overflow: hidden;
}

.cardset__overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  background-color: $cardset-overlay-color;
  color: $white-color;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  .cardset__link:hover &,
  .cardset__link:focus & {
    transform: translateY(0);
  }
}

.cardset__wrapper {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .cardset__link:hover &,
  .cardset__link:focus & {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.cardset__meta {
  padding: 20px 25px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.cardset__name {
  color: $secondary-text-color;
  font-size: 18px;

  font-weight: 700;
  text-align: left;
  line-height: 2;
  letter-spacing: 0.06em;
}
.cardset__text {
  color: $primary-text-color;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: left;
  line-height: 1.88;
}
