.site-nav {
  @extend %list;
  display: flex;
  align-items: center;

  &--left {
    margin-left: 93px;
  }
}

.site-nav__items {
  position: relative;
  display: flex;
  align-items: center;
  &--left {
    margin-left: 50px;
  }
}

.site-nav__link {
  padding: 32px 0px;
  color: $secondary-text-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--active {
    color: $accent-color;
  }

  &--active::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
