.team {
  background-color: $white-bgc;
}
.team__container,
.partners__container {
  // @extend %container;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__list {
  // @extend %list;
  display: flex;
  padding: 0px;
  margin: 0px auto;
  justify-content: space-between;
}

.team__items {
  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team__meta {
  padding: 30px 32px;
}

.team__name {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &--bottom {
    margin-bottom: 10px;
  }
}

.team__text {
  color: $primary-text-color;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &--bottom {
    margin-bottom: 16px;
  }
}

.social {
  // @extend %list;
  display: flex;
  justify-content: center;
}

.social__thumb {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social__link:focus &,
  .social__link:hover & {
    background-color: $accent-color;
  }
}

.social__icons {
  fill: $primary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social__link:focus &,
  .social__link:hover & {
    fill: $white-color;
  }
}
