$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$grey-bgc: #2f303a;
$grey-bgca: rgba(47, 48, 58, 0.8);
$white-bgc: #f5f4fa;
$partner-icon-color: #afb1b8;
$black-color: #000000;
$addres-color: rgba(255, 255, 255, 0.6);
$textarea-placeholder: rgba(117, 117, 117, 0.5);
$cardset-overlay-color: rgba(33, 150, 243, 0.9);
